
h1{
    color: #2e3435;
    font-size: 1.3rem;
}
/* @media screen and (max-width:600px){
    .form-wrapp > h1{
        font-size:9px !important;
        background-color: red;
        
    }
} */
.form-expense{
    padding: 10px 10px 0 10px;
}
.ant-form-item-label > label{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

