
.inner-content {
  height: 100vh;
  width: 100vw;
  background: #000428; 
  background: -webkit-linear-gradient(to right, #5295d0, #4153f8);  
  background: linear-gradient(to right, #5295d0, #4153f8); 
  display: flex;
  justify-content: center;
  
}
.container {
  width: 70%;
  margin: 15px;
  padding:0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;


  height: 96vh;
}
.container > h1{
    color: #fff;
}
.content{
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(214, 214, 214);
    padding:15px;

    max-height: 86vh;


}
.content-row{
display: flex;
justify-content: space-between;
align-items: flex-start ;


max-height: 80vh;
}
.c1{
  width: 49%;
  border-radius: 15px;
  border: 1px solid rgb(214, 214, 214);
}
.c2{
  width: 49%;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center ;

  
}
.r1{
  width: 100%;
  overflow-y: scroll;
  border-radius: 15px;
  border: 1px solid rgb(214, 214, 214);
  
  max-height: 70vh;
  margin-bottom: 5px;
}
.r2{
  width: 100%;

}