@import "antd/dist/antd.css";
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ant-btn {
  background-color: #2cbced;
  border-radius: 15px;
}
.ant-btn > span {
  font-weight: 600;
}
/* *::-webkit-scrollbar{
  display: none;
} */
* {
  scrollbar-width: none;
}

.left25 {
  background-color: rgb(255, 124, 124);
  border-radius:5px ;
  border: 1px solid rgb(255, 84, 84);
}
.left50 {
  background-color: rgb(255, 255, 111);
  border-radius:5px ;
  border: 1px solid rgb(255, 249, 81);
}
.left100 {
  background-color: rgb(207, 250, 141);
  border-radius:5px ;
  border: 1px solid rgb(168, 248, 47);
}
